{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}StudyHub{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<header>
    <div class="container">
        <h1><a href="/">StudyHub</a></h1>
        <nav>
            <a href="/">Проекты</a>
            <a href="/create/">Добавить проект</a>
            <a href="/admin/">Админка</a>
        </nav>
    </div>
</header>


    <main class="main-content">
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>© 2025 StudyHub by Kamron</p>
    </footer>
</body>
</html>
